In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snsb
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
# 데이터 로드
df = pd.read_csv("./data/stroke.csv")
df.head()
#df.tail()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
df.shape

(5110, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [12]:
# 특징과 라벨 분리
X = df.drop('stroke', axis = 1)
Y = df['stroke']

In [13]:
# 학습 데이터와 평가 데이터 분할
from sklearn.model_selection import train_test_split
Train_X, Test_X, Train_Y, Test_Y = train_test_split(X, Y)

In [15]:
# 결측치 확인 - 컬럼별 결측치 개수 확인
Train_X.isnull().sum(axis=0)

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  150
smoking_status         0
dtype: int64

In [14]:
Train_X.replace('?',np.nan).isnull().sum() /len(Train_X)

id                   0.000000
gender               0.000000
age                  0.000000
hypertension         0.000000
heart_disease        0.000000
ever_married         0.000000
work_type            0.000000
Residence_type       0.000000
avg_glucose_level    0.000000
bmi                  0.039144
smoking_status       0.000000
dtype: float64

In [19]:
# 열별 결측치 비율 확인
Train_X.drop('bmi', axis=1, inplace=True)

In [21]:
# 결측치 확인 제거 확인  
Train_X.isnull().sum(axis=0)/len(Train_X)

id                   0.0
gender               0.0
age                  0.0
hypertension         0.0
heart_disease        0.0
ever_married         0.0
work_type            0.0
Residence_type       0.0
avg_glucose_level    0.0
smoking_status       0.0
dtype: float64

In [20]:
#  문자 컬렴명 숫자로 변경 안함
Train_X.corr().sum()/(len(Train_X.columns) )

id                   0.099554
age                  0.180878
hypertension         0.157836
heart_disease        0.153658
avg_glucose_level    0.158296
dtype: float64

In [22]:
Train_X['gender'].value_counts()

Female    2234
Male      1597
Other        1
Name: gender, dtype: int64

In [23]:
Train_X['age'].value_counts()

78.00    81
57.00    70
55.00    67
51.00    67
45.00    67
         ..
0.64      2
0.48      2
0.40      2
1.40      1
0.08      1
Name: age, Length: 104, dtype: int64

In [24]:
Train_X['hypertension'].value_counts()

0    3457
1     375
Name: hypertension, dtype: int64

In [25]:
Train_X['heart_disease'].value_counts()

0    3630
1     202
Name: heart_disease, dtype: int64

In [26]:
Train_X['ever_married'].value_counts()

Yes    2493
No     1339
Name: ever_married, dtype: int64

In [27]:
Train_X['work_type'].value_counts()

Private          2179
Self-employed     612
children          534
Govt_job          489
Never_worked       18
Name: work_type, dtype: int64

In [28]:
Train_X['Residence_type'].value_counts()

Urban    1946
Rural    1886
Name: Residence_type, dtype: int64

In [29]:
Train_X['avg_glucose_level'].value_counts()

91.85     5
91.68     4
73.00     4
77.55     4
90.42     4
         ..
60.91     1
81.38     1
113.65    1
78.00     1
60.50     1
Name: avg_glucose_level, Length: 3175, dtype: int64

In [30]:
Train_X['smoking_status'].value_counts()

never smoked       1425
Unknown            1170
formerly smoked     665
smokes              572
Name: smoking_status, dtype: int64

In [32]:
Train_X.corr().sum() / len(Train_X.columns)   #SUM:0.902672

id                   0.099554
age                  0.180878
hypertension         0.157836
heart_disease        0.153658
avg_glucose_level    0.158296
dtype: float64